=e($element)
  &__#{$element}
    @content

=m($modifer)
  &--#{$modifer}
    @content

=min($size)
  @media (min-width: #{$size + px})
    @content

=max($size)
  @media (max-width: #{$size + px})
    @content

$montserrat: 'Montserrat', sans-serif
$font-default: 16px

$color1: #000
$color2: #fff
$color3: #333
$color4: #222
$color5: #f1f1f1
